[submodule "dependency/rlottie"]
	path = dependency/rlottie
	url = git@github.com:Samsung/rlottie.git
[submodule "dependency/cmake-ios-toolchain"]
	path = dependency/cmake-ios-toolchain
	url = git@github.com:leetal/ios-cmake.git
